body {
  background: #282828;
  color: white;
  padding: 50px;
  margin: 0px;
  height: 100vh;
  box-shadow: inset 0 0 10px #000000;

}

#switch {
  display: none;
}

.button {
    cursor: pointer;
    background: #474747;
    color: #ccc;
    /* padding: 0px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    border-radius: 15px;
    box-shadow: 0 2px #1e1e1e;
    position: fixed;
    bottom: 24px;
    right: 44px;
    font-size: 14px;
    height: 25px;
}

.button::after {
  content: "RESET";
}



.switch-label {
    cursor: pointer;
    background: #474747;
    color: #ccc;
    /* padding: 0px; */
    padding-left: 9px;
    padding-right: 15px;
    padding-top: 2px;
    border-radius: 15px;
    box-shadow: 0 2px #1e1e1e;
    position: fixed;
    bottom: 24px;
    left: 44px;
    font-size: 14px;
    height: 25px;
    letter-spacing: 2px;
}
.switch-label::after {
  content: "POWER";
}
.switch-label::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #003321;
  border: 1px solid #535757;
}
.switch-label:active {
  box-shadow: none;
  transform: translate3d(0, 2px, 0);
}

#switch:checked + .switch-label::before {
  background: #02C8FF;
  box-shadow: 0 0px 13px #c1eefb;


}
#switch:checked + .switch-label::after {
  content: "POWER";
}

@keyframes flicker {
  0% {
    opacity: 0.46434;
  }
  5% {
    opacity: 0.85934;
  }
  10% {
    opacity: 0.14733;
  }
  15% {
    opacity: 0.70799;
  }
  20% {
    opacity: 0.16931;
  }
  25% {
    opacity: 0.17488;
  }
  30% {
    opacity: 0.79147;
  }
  35% {
    opacity: 0.23145;
  }
  40% {
    opacity: 0.28722;
  }
  45% {
    opacity: 0.66248;
  }
  50% {
    opacity: 0.96223;
  }
  55% {
    opacity: 0.45726;
  }
  60% {
    opacity: 0.06796;
  }
  65% {
    opacity: 0.00513;
  }
  70% {
    opacity: 0.83797;
  }
  75% {
    opacity: 0.73448;
  }
  80% {
    opacity: 0.63009;
  }
  85% {
    opacity: 0.66978;
  }
  90% {
    opacity: 0.84706;
  }
  95% {
    opacity: 0.76582;
  }
  100% {
    opacity: 0.54226;
  }
}


.container {
  background: #121010;
  height: 86vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0px 20px 0px #58697b; 
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#switch:checked ~ .container::after {
  animation: flicker 0.15s infinite;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}

#switch ~ .container > .screen {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

#switch:checked ~ .container > .screen {
  animation: turn-on 2s linear;
  animation-fill-mode: forwards;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
    color: rgba(255,255,255,0.62);
    position: absolute;
    top: 10%;
    left: 7%;
    font-size: 30px;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
   
}

#switch:checked ~ .container .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

---

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(5px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 92px, 0);
  }
  10% {
    clip: rect(40px, 9999px, 58px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 26px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(55px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(29px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(88px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(45px, 9999px, 13px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(78px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(51px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(39px, 9999px, 83px, 0);
  }
  65% {
    clip: rect(7px, 9999px, 74px, 0);
  }
  70% {
    clip: rect(4px, 9999px, 74px, 0);
  }
  75% {
    clip: rect(36px, 9999px, 2px, 0);
  }
  80% {
    clip: rect(92px, 9999px, 48px, 0);
  }
  85% {
    clip: rect(39px, 9999px, 50px, 0);
  }
  90% {
    clip: rect(28px, 9999px, 20px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 64px, 0);
  }
  100% {
    clip: rect(46px, 9999px, 41px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  color: rgba(255,255,255,0.62);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(28px, 9999px, 21px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 35px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 2px, 0);
  }
  15% {
    clip: rect(63px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(29px, 9999px, 84px, 0);
  }
  25% {
    clip: rect(11px, 9999px, 54px, 0);
  }
  30% {
    clip: rect(54px, 9999px, 63px, 0);
  }
  35% {
    clip: rect(43px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(18px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(40px, 9999px, 17px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 24px, 0);
  }
  55% {
    clip: rect(85px, 9999px, 47px, 0);
  }
  60% {
    clip: rect(39px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(27px, 9999px, 90px, 0);
  }
  70% {
    clip: rect(57px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(82px, 9999px, 8px, 0);
  }
  80% {
    clip: rect(93px, 9999px, 26px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 41px, 0);
  }
  90% {
    clip: rect(40px, 9999px, 82px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 77px, 0);
  }
  100% {
    clip: rect(1px, 9999px, 41px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  top: 0;
  color: rgba(255,255,255,0.62);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

