body {
	/* Rectangle Copy: */
	background-position: 0px 0px;
	background: #14171a;
	font-family: 'space mono', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.prehistory {
	background: rgba(255, 255, 255, 0.07) !important;
	box-shadow: none !important;
}

.imperialera {
	background: rgba(246, 78, 78, 0.72) !important;
	box-shadow: 0px 0px 32px 0px rgba(246, 78, 78, 0.5) !important;
}

.falloftherepublic {
	background: -moz-linear-gradient(left, rgba(25,167,207,0.72) 0%, rgba(246,78,78,0.72) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(25,167,207,0.72) 0%,rgba(246,78,78,0.72) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(25,167,207,0.72) 0%,rgba(246,78,78,0.72) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b819a7cf', endColorstr='#b8f64e4e',GradientType=1 ); /* IE6-9 */
}

.falloftheoldrepublic {
	background: rgba(78, 180, 246, 0.22) !important;
	box-shadow: none !important;
}

.firstorder {
	background: -moz-linear-gradient(left, rgba(246,78,78,0.72) 0%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(246,78,78,0.72) 0%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(246,78,78,0.72) 0%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: none !important;
}

.blacktored {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(246,78,78,0.72) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(246,78,78,0.72) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(246,78,78,0.72) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: none !important;
}

.blacktoblue {
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(25,167,207,0.72) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(25,167,207,0.72) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(25,167,207,0.72) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: none !important;
	border: 0px;
}

.movie {
	background: rgba(246, 231, 78, .6);
	box-shadow: none !important;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border-color: rgba(246, 231, 78, 1) !important;
}

.preclone {
	background: rgba(255,255,255, 0.1) !important;
	box-shadow: none !important;
}

.theclonewars {
	background: rgba(255,255,255, .3) !important;
	box-shadow: none !important;
	border: 0px;
}

.battlegood {
	background: rgba(25,167,207,0.72) !important;
}

.battlebad {
	background: red !important;
}